body {
    margin: 0;
    padding: 0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.contact-container {
    margin-top: 0;
    width: 100%;
    padding-top: 50px;
  }
  
  .contact-form {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .contact-form input,
  .contact-form textarea {
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 3px #2196f3;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    max-width: 500px;
  }
  
  .contact-form button[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #0d8bf5;
  }
  