*{
    padding:0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
  }
  .hero{
    height:100vh;
    width:100%;
    background-image: url(../images/bg-image.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .logo
  {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
  
  }
  
  span{
    color: #f9004d
  }
  
  nav ul li
  {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px; 
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  nav ul li a:hover
  {
    color:#f9004d;
    transition: 0.4s;
  }
  
  .btn
  {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px  25px;
    border-radius: 30px;
    transition: transform .4s;
  }
  
  .btn:hover
  {
    transform: scale(1.2);
  }

  .image-gallery {
    text-align: center;
    margin: 20px; /* gives some space from the corners */
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap; /* allows the cards to wrap to the next line when they run out of space */
    justify-content: center; /* centers the cards horizontally within the container */
  }
  
  .image-card {
    width: 25%; /* sets the width of each card to 25% of the container */
    margin: 10px; /* adds space between each card */
    text-align: center; /* centers the text within the card */
  }
  
  img {
    width: 80%; /* makes the*/
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
    background-color:#191919;
  }  

  footer
  {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer p:nth-child(1)
  {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;  
  }
  
  footer p:nth-child(2)
  {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  
  }
  
  .social
  {
    display: flex;
  }
  .social a
  {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social a:hover
  {
    transform: scale(1.3);
    transition: 0.3s;
  }
  
  .end
  {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
    
  }